.newsResults {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  gap: 20px;
}

.newsStoryContainer {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}
.newsImgContainer {
  height: 200px;
  width: 300px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.newsImg {
  object-fit: cover !important;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.newsLink {
  padding: 5px 10px 5px 10px;
  background-color: var(--red);
  color: var(--white);
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  transition: 0.2s;
}
.newsLink:hover {
  padding: 10px 15px 10px 15px;
  background-color: var(--white);
  color: var(--red);
  transition: 0.2s;
}
.newsDescription {
  font-size: 13px;
  font-weight: 200;
  margin-top: -5px;
}
.authorProvided {
  text-transform: capitalize;
  margin-top: -5px;
  font-weight: 200;
  font-size: 15px;
}

.date {
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
}
.newsTitle {
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--red);
}
